body{
    background-color: antiquewhite;
}
.App{
    background-color: antiquewhite;
    width: 100%;
    height: fit-content;
}
.app-video-align{
    background-color: antiquewhite;
    width: 100%;
    display: flex;
    flex-wrap:wrap;
}